body {
    background-color: #0f131a;
    color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 2.3em;
}

.navbar {
    width: 100%;
    position: fixed;
    height: 70px;
    top: 0;
    background-color: #07090c;
    box-shadow: inset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.namegen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.genbtn {
    width: 120px;
    height: 50px;
    background-color: #4f87ff;
    border-radius: 10px;
    border: 0;
    color: #f8f8f8;
    font-size: 1em;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.418);
    transition: 0.3s;
    cursor: pointer;
}

.genbtn:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

#nameDisplay {
    font-size: 2em;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.nicknamecbx {
    user-select: none;
}

#gender {
    width: 100px;
    height: 25px;
    border: 0;
    border-radius: 5px;
}

#gender option {
    font-size: 15px;
    font-weight: 500;
}